.firstTd {
  border-left: 2px solid #d6d6d6;
  border-top: 2px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  border-radius: 15px 0 0 15px;
}

.lastTd {
  border-right: 2px solid #d6d6d6;
  border-top: 2px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  border-radius: 0 15px 15px 0;
}

.normalTd {
  border-top: 2px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
}
