.toastBorder {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  right: 50px;
}

.toast {
  border-radius: 10px !important;
  font-size: 12px !important;
  animation: slideIn 0.5s;
  box-shadow: none !important;
}

@keyframes slideIn {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
