.trainerContainer {
  margin-top: 13vh;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50vw;

  input {
    border-radius: 30px !important;
    min-height: 100px;
    border-color: #343a40 !important;
  }

  .dropdown button {
    min-width: 200px;
  }
}

.absendenButton {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .trainerContainer {
    margin-top: 0;
  }

  .trainer-form-progress {
    //display: none;
    margin: 30px auto 30px auto;
    width: 100%;
    height: 28px;
    overflow: hidden;
  }

  .trainer-form-progress .d-flex.justify-content-around {
    padding: 0 !important;
    margin: 0 !important;
  }

  .trainer-form-progress .progress {
    height: 28px;
  }
}

.trainer-form-progress {
  //width: 700px;
}

@media screen and (max-width: 767px) {
  .trainerContainer {
    width: 280px !important;
  }

  .trainerContainer .agHeader {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .trainerContainer p {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 280px;
  }

  .trainerContainer .videoHeader + p {
    margin: 0 auto 16px auto !important;
  }

  .trainerContainer button.agButton {
    width: 280px !important;
  }
  .absendenButton button {
    width: 90% !important;
  }
}

@media screen and (min-width: 1024px) {
  .trainerContainer button.ag-button,
  .trainerContainer .weiter-cta,
  .trainerContainer .btn-primary {
    width: 750px !important;
  }

  .trainerContainer .musingoo-input {
    width: 750px !important;
    margin-top: 32px;
  }
  .absendenButton button {
    width: 100%;
  }
}
