.weiter-cta {
  width: 250px;
  height: 45px;
  margin: 0 auto;
  background-color: #4ad9ca;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weiter-cta span {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
