.scrollBoxSection {
    scroll-margin-top: 150px !important;
}
.alertSection{
    margin-top: 5px;
    width: 10px;
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
}
.experienceBox {
    border-radius: 4rem;
    border: 2px solid #D6D5D5 !important;
    max-height: 434px;
    min-width: 300px;
    &:nth-child(1){
        font-size: 12px;
    }
}
.var{
    font-size:10px;
}

.startLesson{
    background-color: #D6D5D5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    h2{
        color: white;
        margin-bottom: 0;
    }
}
.modalStart{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        text-align: center;
        font-size: 50px;
    }
    .primary-btn {
        background-color: #4ad9ca;
        width: 40%;
        height: 70px;
        border-radius: 10px;
        text-align: center;
        border: none;
        color: white;
        font-size: 20px;
        margin-top: 40px;
        font-weight: bold;
        @media (max-width: 1700px) {
            width: 50%;
        }
    }
}
.startLessonColor{
    background-color: #4ad9ca;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    h2{
        color: white;
        margin-bottom: 0;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .start-experience-container {
        max-width: 95vw !important;
    }

    .start-experience-container .experienceBox {
        padding: 36px !important;
        margin: 12px !important;
    }
}

.instructorBadge{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-icons {
    //margin-left: 20px;
    //display: flex;
    //flex-direction: column;
    //height: 44px;
    //align-items: center;
    //justify-content: space-around;
    //cursor: pointer;
}

.menu-icons svg {
    height: 60px;
    width: 44px;
    cursor: pointer;
}

.menu-icons svg path {
    fill: #fff;
}


// Modal Design
.startExperiencModalDialog,
.startExperiencModalDialogXs {
    .modal-content {
        border: 1px solid #5e5e5e !important;
        border-radius: 46px !important;
        min-height: auto;
        max-height: calc(100% - 50px);
        overflow-y: auto;
    }
}
.startExperiencModalBody {
    border-radius: 46px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.startExperiencModalDialog {
    @media screen and (max-width: 1024px) {
        max-width: 90% !important;
        margin: auto auto !important;
    }
    @media screen and (min-width: 1025px) {
        max-width: 800px !important;
    }
    @media screen and (min-width: 1240px) {
        max-width: 1000px !important;
    }
    @media screen and (min-width: 1540px) {
        max-width: 1250px !important;
    }
}

.startExperiencModalDialogXs {
    margin: 0 30px !important;
    max-width: 90% !important;
    height: 100%;

    @media screen and (min-width: 575px) {
        max-width: 80% !important;
        margin: auto auto !important;
    }
    @media screen and (min-width: 768px) {
        max-width: 600px !important;
        margin: auto auto !important;
    }
}

// .startExperiencModalBodyXs {
//     @media screen and (min-width: 1024px) {
//         display: flex;
//     }
// }