.experienceWrapperTop {
    width: calc(100% - 30px);
    height: 4px;
    position: fixed;
    // z-index: 20;
    background-color: #ffffff;

    @media screen and (max-width: 1500px) {
        height: 120px;
    }

    @media screen and (max-width: 1140px) {
        height: 120px;
    }

    @media screen and (max-width: 1024px) {
        height: 110px;
    }

    @media screen and (max-width: 767px) {
        height: 90px;
    }
}
.experienceWrapper {
    margin: 60px 120px 60px 120px;
    position: relative;

    @media screen and (max-width: 1500px) {
        margin: 120px 100px 50px 100px;
    }

    @media screen and (max-width: 1140px) {
        margin: 120px 50px 80px 50px;
    }

    @media screen and (max-width: 1024px) {
        margin: 110px 50px 50px;
    }

    @media screen and (max-width: 991px) {
        margin: 110px 30px 50px;
    }

    @media screen and (max-width: 767px) {
        margin: 90px 15px 50px;
    }

    &--bg {
        background: url(../../../assets/images/image1.jpeg) no-repeat;
        background-size: cover;
        background-position: top center;
        border-radius: 120px;
        padding-bottom: 60px;
        height: 190vh !important;
        margin-top: 50px;
        .experienceTopBg {
            display: none;
        }
        .experienceInner {
        }
    }
    &--parallax {
        background-attachment: fixed;
    }
}
.experienceTopBg {
    background: url(../../../assets/images/image1.jpeg) no-repeat;
    background-size: cover;
    height: 190vh !important;
    width: calc(100% - 270px);
    background-position: top center;
    position: fixed;
    z-index: -1;
    border-radius: 120px;

    @media screen and (max-width: 1500px) {
        width: calc(100% - 230px);
    }
    @media screen and (max-width: 1140px) {
        width: calc(100% - 130px);
    }
    @media screen and (max-width: 1024px) {
        width: calc(100% - 130px);
    }
    @media screen and (max-width: 991px) {
        width: calc(100% - 90px);
    }
    @media screen and (max-width: 767px) {
        width: calc(100% - 60px);
    }
}

.experienceInner {
    margin: 0 120px;

    @media screen and (max-width: 1500px) {
        margin: 0 120px;
    }

    @media screen and (max-width: 1140px) {
        margin: 0 50px;
    }

    @media screen and (max-width: 1024px) {
        margin: 0 50px;
    }

    @media screen and (max-width: 991px) {
        margin: 0 40px;
    }

    @media screen and (max-width: 767px) {
        margin: 0 30px;
    }
}

.experienceDotSidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 300px;
    left: 60px;
    z-index: 1;

    @media screen and (max-width: 1500px) {
        left: 50px;
    }

    @media screen and (max-width: 1140px) {
        left: 25px;
    }
    @media screen and (max-width: 991px) {
        left: 15px;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.experienceArrowIconButtonRoot {
    position: fixed !important;
    top: 120px;
    left: 40px;
    z-index: 1;

    @media screen and (max-width: 1500px) {
        left: 30px;
    }

    @media screen and (max-width: 1140px) {
        left: 2.5px;
    }
    @media screen and (max-width: 991px) {
        left: 0;
        top: 110px;
    }
    @media screen and (max-width: 767px) {
        display: none !important;
    }
}
.experienceArrowIconButtonIcon {
    width: 25px;
    height: 25px;

    @media screen and (max-width: 991px) {
        width: 25px;
        height: 25px;
    }
}

.experienceDotSidebarItem {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #d6d5d5;
    cursor: pointer;

    &.active {
        background-color: #929292;
    }
}
