.filterBox .calander a .fc-event-main b {
  font-size: 11px;
  padding-top: 8px;
  display: inline-block;
}

.fc-media-screen .fc-timegrid-event {
  left: 0;
}

.fc-col-header-cell {
  border: 0 !important;
}

.fc-scrollgrid, .fc-timegrid-axis {
  border: 0 !important;
}

.fc-appointmentfilterHeader-button {
  color: #484848 !important;
  font-size: 22px !important;
  font-weight: bold !important;
  background-color: #fff !important;
  border: 0 !important;
  padding: 0 !important;
  line-height: 1 !important;
  pointer-events: none !important;
  cursor: default !important;
}

.filter-calendar-event b {
  padding-top: 20px !important;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
}