.chatBoxCardHeaderBtn1 {
    font-weight: bold;
    font-size: 15px;
    color: #4ad9ca;
    cursor: pointer;
}

.chatBoxCardHeader1 {
    position: relative;
}

.chatBoxCardActionContent1 {
    position: absolute;
    top: 3px;
    right: 40px;
}

.expChatBoxHistoryItem1 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.expChatBoxHistoryItemReverse12 {
    flex-direction: row-reverse;
}

.expChatBoxHistoryItemAvatar1 {
    height: 46px;
    width: 46px;
    border-radius: 50%;
}

.expChatBoxHistoryMsg1 {
    border: 1px solid #d6d5d5;
    padding: 10px;
    border-radius: 17px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.expChatBoxHistoryMsgReverse1 {
    margin-right: 15px;
    background-color: #4ad9ca;
    color: #fff;
}

.expChatBoxHistoryMsgReverse12 {
    margin-right: 15px;
    background-color: white;
    color: #000;
}

.expChatBoxInput1 {
    margin: 10px 0;
}
.expChatBox1{
    position: relative;
}
.chatB {
    padding: 20px;
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: 90%;
    border-radius: 30px;
    background-color: white;
}

.expChatBoxInputField1 {
    padding: 20px !important;
    height: 40px !important;
    border-radius: 20px !important;
    border: 1px solid #5e5e5e !important;
}

.btn-send1 {
    width: 100%;
    background-color: gray;
    height: 40px !important;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    color: white;
}

.f-btn {
    width: 100px;
    background-color: #fc5d68;
    height: 30px !important;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    color: white;
}