.social-share-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.8;
  z-index: 1900;
  transition: opacity .15s linear;
  cursor: pointer;
  overflow: hidden;
}

@media only screen and (max-width:1024px) {
  .social-share-backdrop{
    opacity: 1; 
  }
}