.friends-list {
  text-align: left;
  height: 260px;
  overflow-y: scroll;
  width: 75%;
  margin: 16px auto 40px auto;
  @media only screen and (max-width: 768px) {
    max-height: 90vh;
    height: auto;
  }
}

.select-all-friends {
  text-align: right;
  width: 75%;
  margin: 26px auto 0 auto;
  cursor: pointer;
  font-weight: bold;
  color: #4ad9ca;
}
