.offer-discount {
  text-align: center;
}

.offer-discount-header {
  font-size: 26px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 1.2;
  padding: 0 !important;
}

.offer-discount p {
  margin: 0 0 30px 0;
  padding: 0 !important;
  font-size: 15px;
}

.toggle-offer {
  margin-top: 55px;
  margin-bottom: 50px;
}

.toggle-offer span {
  font-size: 16px;
  font-weight: bold;
}