.addNewPerson {
  @media only screen and (min-width: 1025px) {
    position: absolute;
    right: -40%;
    top: 25%;
  }
}

.timItem {
  cursor: pointer;
  &:hover {
    background: #e9e7e7;
    border-radius: 20px;
  }
}
