.create-experience.jobs-experience-type .create-experience--details {
  margin: -10px 0 32px 0;
  padding: 0 !important;
  font-size: 15px;
  position: relative;
  left: -7px;
}

.create-experience.jobs-experience-type .create-experience__type > a {
  width: 190px;
  height: 140px;
}

.create-experience.jobs-experience-type .type__name {
  font-size: 23px;
}